*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	height: 100vh;
	width: 100%;
	background: repeating-linear-gradient(45deg, rgba(0,0,0,0.1),transparent,rgba(0,0,0,0.04),rgba(0,0,0,0.04),rgba(0,0,0,0.01),rgba(0,0,0,0.02),rgba(0,0,0,0.05),transparent,rgba(0,0,0,0.04),rgba(0,0,0,0.1),rgba(0,0,0,0.03) 3px),linear-gradient(0deg, rgb(85, 159, 230),rgb(230, 105, 196));
	display: flex;
	align-items: center;
	justify-content: center;
}

.main{
	position: relative;
	height: 90%;
	width: 90%;
	box-sizing: border-box;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: repeating-linear-gradient(45deg, rgba(0,0,0,0.1),transparent,rgba(0,0,0,0.04),rgba(0,0,0,0.04),rgba(0,0,0,0.01),rgba(0,0,0,0.02),rgba(0,0,0,0.05),transparent,rgba(0,0,0,0.04),rgba(0,0,0,0.1),rgba(0,0,0,0.03) 3px),linear-gradient(0deg, rgb(230, 105, 196), rgb(85, 159, 230));
	box-shadow: inset -5px -5px 6px #224a61,
            inset 5px 5px 6px #88ffff;
}

#logo{
	position: absolute;
	top: 10px;
	left: 30px;
	font-size: 25px;
	color: brown;
	animation: animate 1s infinite linear;
}

@keyframes animate{
	0%{
		filter: hue-rotate(0deg);
	}
	50%{
		filter: hue-rotate(180deg);
	}
	100%{
		filter: hue-rotate(360deg);
	}
}

#logo i{
	margin-right: 15px;
}

button{
	padding: 10px 12px;
	margin: 0 10px;
}

/* left & right part */
.right, .left{
	position: relative;
	height: 100%;
	width: 50%;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.image{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 20%;
	height: 300px;
	width: 60%;
	border-radius: 20px;
	background: #55b9f3;
	box-shadow:  8px 8px 16px #234c64,
             -8px -8px 16px #87ffff;
}

/* song image */
.left .image img{
	height: 100%;
	width: 100%;
	border-radius: 20px;
}

/* both range slider part */
input[type="range"] {
	-webkit-appearance: none;
	width: 50%;
	outline: none;
	height: 3px;
	margin: 0 15px;
	background: linear-gradient(45deg, rgb(0, 132, 255), rgb(255, 0, 187));
}

input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	background: linear-gradient(90deg, rgb(255, 0, 187), rgb(0, 132, 255));
	border-radius: 50%;
	cursor: pointer;
}

.right input[type=range]{
	width: 40%;
}

/* volume part */
.left .volume{
	position: absolute;
	bottom: 20%;
	left: 0;
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.left .volume p{
	font-size: 15px;
}

.left .volume i{
	cursor: pointer;
	padding: 8px 12px;
	border-radius: 5px;
	background: linear-gradient(145deg, #4d8fcf, #5baaf6);
	box-shadow:  5px 5px 10px #4887c4,
             -5px -5px 10px #62b7ff;
}

.volume #volume_show{
	padding: 8px 12px;
	margin: 0 5px 0 0;
	border-radius: 5px;
	background: linear-gradient(145deg, #4d8fcf, #5baaf6);
	box-shadow:  5px 5px 10px #4887c4,
             -5px -5px 10px #62b7ff;
}

.right .show_song_no{
	position: absolute;
	top: 95%;
	right: 5%;
	width: 30px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 12px;
	color: #fff;
}

.right .show_song_no p:nth-child(2){
	margin: 0 3px;
}

.right #title{
	position: absolute;
	top: 20%;
	width: 100%;	
	display: inline;
	text-transform: capitalize;
	color: #fff;
	font-size: 35px;
}

.right #artist{
	position: absolute;
	top: 30%;
	width: 100%;
	display: inline;
	text-transform: capitalize;
	color: #fff;
	font-size: 18px;
}

/* right part */
 .right .middle{
 	width: 100%;
    	display: flex;
	align-items: center;
	justify-content: center;
}

.right .middle button{
	border: none;
	height: 60px;
	width: 60px;
	border-radius: 50%;	
    	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	outline: none;
	color: #fff;
}

.right .middle button.play_button{
	height: 75px;
	width: 75px;
}

.right_blue{
	background: linear-gradient(145deg, #4d8fcf, #5baaf6);
	box-shadow:  5px 5px 8px #4887c4,
             -5px -5px 8px #62b7ff;
}

.right_blue:hover{
	background: linear-gradient(145deg, #cf5fb0, #f670d2);
	box-shadow:  5px 5px 8px #c459a7,
             -5px -5px 8px #ff79e1;
}

.selected{
	background: linear-gradient(145deg, #cf5fb0, #f670d2);
	box-shadow:  5px 5px 8px #c459a7,
             -5px -5px 8px #ff79e1;
}

.selected:hover{
	background: linear-gradient(145deg, #4d8fcf, #5baaf6);
	box-shadow:  5px 5px 8px #4887c4,
             -5px -5px 8px #62b7ff;
}

.right_pink{
	background: linear-gradient(145deg, #cf5fb0, #f670d2);
	box-shadow:  5px 5px 8px #c459a7,
             -5px -5px 8px #ff79e1;
}

.right_pink:hover{
	background: linear-gradient(145deg, #4d8fcf, #5baaf6);
	box-shadow:  5px 5px 8px #4887c4,
             -5px -5px 8px #62b7ff;
}

.blue{
	background: #55b9f3;
	box-shadow:  8px 8px 16px #234c64,
             -8px -8px 16px #87ffff;
}

.right .duration{
	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 20px;
	margin-top: 40px;
}

.right .duration p{
	color: #fff;
}

.right i:before{
	color: #fff;
	font-size: 20px;
}

.documentation{
	position: absolute;
	top: 9%;
	right: 9%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.hide_show{
	position: absolute;
	font-size: 25px;
	border: none;
	background: transparent;
	cursor: pointer;
    	text-decoration: none;
    	box-sizing: border-box;
}

.documentation_page{
	position: absolute;
	height: 90%;
	width: 90%;
	box-sizing: border-box;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: repeating-linear-gradient(45deg, rgba(0,0,0,0.1),transparent,rgba(0,0,0,0.04),rgba(0,0,0,0.04),rgba(0,0,0,0.01),rgba(0,0,0,0.02),rgba(0,0,0,0.05),transparent,rgba(0,0,0,0.04),rgba(0,0,0,0.1),rgba(0,0,0,0.03) 3px),linear-gradient(0deg, rgb(230, 105, 196), rgb(85, 159, 230));
	box-shadow: inset -5px -5px 6px #224a61,
            inset 5px 5px 6px #88ffff;
}

.documentation_body{
	position: absolute;
	box-sizing: border-box;
	height: 90%;
	width: 100%;
	box-sizing: border-box;
	top: 7.5%;
	padding: 20px;
	overflow: scroll;
}

::-webkit-scrollbar{
	display: none;
}

.documentation_body h1{
	font-size: 3em;
	text-align: center;
	color: navajowhite;
}

.documentation_body h2{
	font-size: 1.25em;
}

.documentation_body h2 ol{
	margin: 0 50px;
}

.documentation_body h2 ol a:nth-child(1), .documentation_body h2 ol a:nth-child(6), .documentation_body h2 ol a:nth-child(11), .documentation_body h2 ol a:nth-child(16), .documentation_body h2 ol a:nth-child(21), .documentation_body h2 ol a:nth-child(26), .documentation_body h2 ol a:nth-child(31), .documentation_body h2 ol a:nth-child(36), .documentation_body h2 ol a:nth-child(41), .documentation_body h2 ol a:nth-child(46), .documentation_body h2 ol a:nth-child(51), .documentation_body h2 ol a:nth-child(56), .documentation_body h2 ol a:nth-child(61), .documentation_body h2 ol a:nth-child(66), .documentation_body h2 ol a:nth-child(71), .documentation_body h2 ol a:nth-child(76), .documentation_body h2 ol a:nth-child(81), .documentation_body h2 ol a:nth-child(86), .documentation_body h2 ol a:nth-child(91), .documentation_body h2 ol a:nth-child(96), .documentation_body h2 ol a:nth-child(101), .documentation_body h2 ol a:nth-child(106), .documentation_body h2 ol a:nth-child(111), .documentation_body h2 ol a:nth-child(116){
	color: rgb(127, 35, 240);
}
.documentation_body h2 ol a:nth-child(2), .documentation_body h2 ol a:nth-child(7), .documentation_body h2 ol a:nth-child(12), .documentation_body h2 ol a:nth-child(17), .documentation_body h2 ol a:nth-child(22), .documentation_body h2 ol a:nth-child(27), .documentation_body h2 ol a:nth-child(32), .documentation_body h2 ol a:nth-child(37), .documentation_body h2 ol a:nth-child(42), .documentation_body h2 ol a:nth-child(47), .documentation_body h2 ol a:nth-child(52), .documentation_body h2 ol a:nth-child(57), .documentation_body h2 ol a:nth-child(62), .documentation_body h2 ol a:nth-child(67), .documentation_body h2 ol a:nth-child(72), .documentation_body h2 ol a:nth-child(77), .documentation_body h2 ol a:nth-child(82), .documentation_body h2 ol a:nth-child(87), .documentation_body h2 ol a:nth-child(92), .documentation_body h2 ol a:nth-child(97), .documentation_body h2 ol a:nth-child(102), .documentation_body h2 ol a:nth-child(107), .documentation_body h2 ol a:nth-child(112), .documentation_body h2 ol a:nth-child(117){
	color: rgb(131, 224, 255);
}
.documentation_body h2 ol a:nth-child(3), .documentation_body h2 ol a:nth-child(8), .documentation_body h2 ol a:nth-child(13), .documentation_body h2 ol a:nth-child(18), .documentation_body h2 ol a:nth-child(23), .documentation_body h2 ol a:nth-child(28), .documentation_body h2 ol a:nth-child(33), .documentation_body h2 ol a:nth-child(38), .documentation_body h2 ol a:nth-child(43), .documentation_body h2 ol a:nth-child(48), .documentation_body h2 ol a:nth-child(53), .documentation_body h2 ol a:nth-child(58), .documentation_body h2 ol a:nth-child(63), .documentation_body h2 ol a:nth-child(68), .documentation_body h2 ol a:nth-child(73), .documentation_body h2 ol a:nth-child(78), .documentation_body h2 ol a:nth-child(83), .documentation_body h2 ol a:nth-child(88), .documentation_body h2 ol a:nth-child(93), .documentation_body h2 ol a:nth-child(98), .documentation_body h2 ol a:nth-child(103), .documentation_body h2 ol a:nth-child(108), .documentation_body h2 ol a:nth-child(113), .documentation_body h2 ol a:nth-child(118){
	color: rgb(23, 92, 219);
}
.documentation_body h2 ol a:nth-child(4), .documentation_body h2 ol a:nth-child(9), .documentation_body h2 ol a:nth-child(14), .documentation_body h2 ol a:nth-child(19), .documentation_body h2 ol a:nth-child(24), .documentation_body h2 ol a:nth-child(29), .documentation_body h2 ol a:nth-child(34), .documentation_body h2 ol a:nth-child(39), .documentation_body h2 ol a:nth-child(44), .documentation_body h2 ol a:nth-child(49), .documentation_body h2 ol a:nth-child(54), .documentation_body h2 ol a:nth-child(59), .documentation_body h2 ol a:nth-child(64), .documentation_body h2 ol a:nth-child(69), .documentation_body h2 ol a:nth-child(74), .documentation_body h2 ol a:nth-child(79), .documentation_body h2 ol a:nth-child(84), .documentation_body h2 ol a:nth-child(89), .documentation_body h2 ol a:nth-child(94), .documentation_body h2 ol a:nth-child(99), .documentation_body h2 ol a:nth-child(104), .documentation_body h2 ol a:nth-child(109), .documentation_body h2 ol a:nth-child(114), .documentation_body h2 ol a:nth-child(119){
	color: rgb(254, 228, 64);
}
.documentation_body h2 ol a:nth-child(5), .documentation_body h2 ol a:nth-child(10), .documentation_body h2 ol a:nth-child(15), .documentation_body h2 ol a:nth-child(20), .documentation_body h2 ol a:nth-child(25), .documentation_body h2 ol a:nth-child(30), .documentation_body h2 ol a:nth-child(35), .documentation_body h2 ol a:nth-child(40), .documentation_body h2 ol a:nth-child(45), .documentation_body h2 ol a:nth-child(50), .documentation_body h2 ol a:nth-child(55), .documentation_body h2 ol a:nth-child(60), .documentation_body h2 ol a:nth-child(65), .documentation_body h2 ol a:nth-child(70), .documentation_body h2 ol a:nth-child(75), .documentation_body h2 ol a:nth-child(80), .documentation_body h2 ol a:nth-child(85), .documentation_body h2 ol a:nth-child(90), .documentation_body h2 ol a:nth-child(95), .documentation_body h2 ol a:nth-child(100), .documentation_body h2 ol a:nth-child(105), .documentation_body h2 ol a:nth-child(110), .documentation_body h2 ol a:nth-child(115), .documentation_body h2 ol a:nth-child(120){
	color: rgb(0, 245, 212);
}

a {
	text-decoration: none;
	
}

a:hover{
	text-decoration: underline;
	cursor: pointer;
}

@media screen and (max-width: 1100px) {
	.right .middle button{
		height: 50px;
		width: 50px;
	}
	
	.right .middle button.play_button{
		height: 65px;
		width: 65px;
	}

	.right #artist{
		top: 35%;
	}
}

@media screen and (max-width: 1050px) {
	.image{
		top: 22%;
		height: 280px;
	}	
}

@media screen and (max-width: 1000px) {
	.image{
		top: 25%;
		height: 250px;
	}

	.right .middle button{
		height: 45px;
		width: 45px;
	}
	
	.right .middle button.play_button{
		height: 60px;
		width: 60px;
	}

	.right #title{
		top: 22%;
		font-size: 30px;
	}

	.documentation_body h1{
		font-size: 2.5em;
	}
	
	.documentation_body h2{
		font-size: 1em;
	}
}

@media screen and (max-width: 925px) {
	.image{
		top: 27%;
		height: 220px;
		border-radius: 10px;
	}

	.left .image img{
		border-radius: 10px;
	}

	.right .middle button{
		height: 45px;
		width: 45px;
	}
	
	.right .middle button.play_button{
		height: 60px;
		width: 60px;
	}

	.right #title{
		top: 28%;
		font-size: 25px;
	}

	.right #artist{
		top: 38%;
		font-size: 16px;
	}
}

@media screen and (max-width: 800px){
	.documentation_body h1{
		font-size: 2.25em;
	}
}

@media screen and (max-width: 800px){
	.image{
		top: 28%;
		height: 200px;
		border-radius: 10px;
	}

	.left .image img{
		border-radius: 10px;
	}

	.right .middle button{
		height: 40px;
		width: 40px;
	}
	
	.right .middle button.play_button{
		height: 55px;
		width: 55px;
	}
}

@media screen and (max-width: 700px){
	.right{
		left: -2%;
	}
}

@media screen and (max-width: 600px){
	.right, .left{
		position: absolute;
		height: 50%;
		width: 100%;
		top: 6%;
	}
	.image{
		position: relative;
		height: 60%;
		top: -15%;
		border-radius: 10px;
	}
	/* song image */
	.left .image img{
		border-radius: 10px;
	}
	.left .volume{
		bottom: -80%;
	}
	.right{
		position: absolute;
		height: 40%;
		width: 100%;
		top: 50%;
	}
	.right .show_song_no{
		top: -20%;
		left: 45%;
	}
	.right .show_song_no p:nth-child(2){
		margin: 0 2px;
	}
	.right #title{
		position: relative;
		top: -45%;
		font-size: 25px;
	}
	.right #artist{
		top: 20%;
		font-size: 16px;
	}
	/* right part */
	.right .middle{
		position: absolute;
		top: 45%;
   	}
	.right .duration{
		bottom: 5%;
	}
	.documentation{
		right: 15%;
	}
	/* .documentation_page{
		height: 98.28%;
	} */
	.documentation_body h1{
		font-size: 2em;
	}
	.documentation_body h2 ol{
		margin: 0 30px;
	}
	.right .middle button{
		height: 40px;
		width: 40px;
	}
}

@media screen and (max-width: 380px){
	.right .middle button{
		height: 35px;
		width: 35px;
	}
	
	.right .middle button.play_button{
		height: 50px;
		width: 50px;
	}
}

@media screen and (max-width: 320px){
	body{
		display: none;
	}
}

@media screen and (max-height: 280px){
	body{
		display: none;
	}
}

@media screen and (max-height: 500px) and (orientation: landscape){
	.image{
		top: 15%;
		height: 60%;
	}
	.left .volume{
		bottom: 10%;
	}
	.right .show_song_no{
		top: 90%;
		right: 5%;
	}
	.right .show_song_no p:nth-child(2){
		margin: 0 2px;
	}
	.right #title{
		position: relative;
		top: -10%;
	}
	.right #artist{
		position: relative;
		top: -5%;
	}
	/* right part */
	.right .middle{
		position: relative;
		top: 0;
    }
	.right .duration{
		bottom: 11%;
		left: 50%;
	}
	.documentation{
		top: 10%;
		right: 9%;
	}
	/* .documentation_page{
		height: 108%;
	} */
	.documentation_body{
		height: 82.5%;
		top: 12.5%;
	}
	.documentation_body h1{
		font-size: 2em;
	}
	.documentation_body h2 ol{
		margin: 0 35px;
	}
}
